/************* Claim Details *************/
.panel-primary {
    border: 1px solid #ccc;
    border-radius: 0;
}

.body-content {
	margin-top: 0px;
	margin-bottom: 30px;
}

.claim-details {
	padding-left: 0px;
}

.close-claim, .cancel-button, .save-button {
	margin-bottom: 20px;
}

.cancel-button {
	margin-right: 20px;
}

.summary-checkbox {
    margin-left: 10px;
}

.deductionAmount {
	background-color: #ff9999;
}

@media (max-width: 767px) {
	.claim-details {
		padding: 0 0 15px;
	}
}

.claim-info {
	margin-left: 15px;
}
