/************* Claim Details *************/
.panel-primary {
    border: 1px solid #ccc;
    border-radius: 0;
}

.body-content {
	margin-top: 0px;
	margin-bottom: 30px;
}

.claim-details {
	padding-left: 0px;
}

.close-claim, .cancel-button, .save-button {
	margin-bottom: 5px;
}

.cancel-button {
	margin-right: 20px;
}

.summary-checkbox {
    margin-left: 10px;
}

.deductionAmount {
	background-color: #ff9999;
}

@media (max-width: 767px) {
	.claim-details {
		padding: 0 0 15px;
	}
}

.claim-info {
	margin-left: 15px;
}

.tab-pane {
  height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-pills {
  top: 0;
  position: relative;
}

.tab-content {
  padding-top: 5px;
  overflow-y: auto;
}

#summary, #claim-amounts {
  overflow: hidden;
}

#claim-summary-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

#claim-information-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 10px;
	margin-top: 5px;
}

/************* Left Tabs *************/

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}

.tabs-left>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}


.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}

.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}

.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


