/************* Report Results *************/
.title-header {
    padding: 3px 0 5px;
    background: #4995cf;
    color: #fff;
    display: block;
    clear: both;
    text-align: center;
    font-size: 17px;
}

.body-container {
	margin-left: 0px;
}

.body-content {
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}

.claim-amounts {
  border: 1px solid #b9b5b5;
  overflow: auto;
}


.report-container {
  border: 1px solid #b9b5b5;
}

.highcharts-container{
  max-width: 99%  
}

.color1 {
  background-color: #446d8d !important;
}

.color2 {
  background-color: #67a8d7 !important;
}

.color3 {
  background-color: #366a69 !important;
}

.color4 {
  background-color: #62bdbb !important;
}

.color5 {
  background-color: #d2623f !important;
}

.color6 {
  background-color: #ea8e4b !important;
}