.panel-primary {
    border: none;
    margin-top: 20px;
}

.tab-content {
    margin-left: -2px;
}

.widget-content {
    border-left: 1px solid #b9b5b5;
    border-right: 1px solid #b9b5b5;
    border-bottom: 1px solid #b9b5b5;
}
.statistics .panel-heading {
    padding: 10px 15px;
}

.statistics .dropdown-menu > li > a:hover {
    color: #000 !important;
}

.statistics .panel-heading {
    background-color: #4995cf;
    font-size: 14px;
}

.statistics .progressContainer {
    margin-bottom: 0;
}

.statistics .progressContainer .type {
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 14px;
    display: block;
}

.statistics .progressContainer .progress-bar-grey {
    background: #adadad;
}

.statistics .progressContainer .progress-bar-darkblue {
    background: #296198;
}

.statistics .progressContainer .progress-bar-blue {
    background: #4995cf;
}

.statistics .progressContainer .progress-bar-empty {
    background: none;
}

.statistics .progressContainer .stats {
    text-align: center;
}

.statistics .progressContainer .stats .number {
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 6px;
}

.statistics .progressContainer .stats .number.grey {
    background-color: #adadad;
}

.statistics .progressContainer .stats .number.darkblue {
    background-color: #296198;
}

.statistics .progressContainer .stats .number.blue {
    background-color: #4995cf;
}

.statistics .progressContainer .stats .number.total{
    background: #3f7ebc;
background: -moz-linear-gradient(top, #3f7ebc 0%, #4995cf 100%);
background: -webkit-linear-gradient(top, #3f7ebc 0%,#4995cf 100%);
background: linear-gradient(to bottom, #3f7ebc 0%,#4995cf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f7ebc', endColorstr='#4995cf',GradientType=0 );
}

.statistics .progressContainer .stats .type {
    font-size: 12px;
}

.statistics .latest {
    padding: 0;
}

.line .content {
    border: 0;
    background-color: transparent;
}
.stats {
    padding: 0;
}

.statistics .latest .first,.statistics .latest .second {
    padding: 10px;
    font-size: 13px;
}

.statistics .latest .first .line,.statistics .latest .second .line {
    margin-bottom: 6px;
}

.statistics .latest .first .line .title,.statistics .latest .second .line .title {
    font-weight: 900;
}

.statistics .latest .first .line .status,.statistics .latest .second .line .status {
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.statistics .latest .first .line .status.grey,.statistics .latest .second .line .status.grey {
    background-color: #adadad;
}

.statistics .latest .first .line .status.green,.statistics .latest .second .line .status.green {
    background-color: #58c71f;
}

.statistics .latest .second {
    background: #eee;
}

/************* Animation *************/
.progress {
    animation: css 2s 1 forwards;
    animation-timing-function: ease-in-out;
}

.activeWidget {
    animation: css 2s 1 forwards;
    animation-timing-function: ease-in-out;
}

@keyframes css {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.widget3,.widget2 {
    display: none;
}

.progress {
    height: 18px;
    border-radius: 10px;
}

.txt {
    text-transform: uppercase;
    font-size: 11px;
    font-style: normal;
}

.dash-cat {
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
}

.content .small {
    padding: 3px 0;
}

.smalllink {
    color: #337ab7 !important;
    text-decoration: none;
}

.elem {
    position: relative;
}

.sep::before {
    content: '';
    height: 100%;
    width: .1px;
    top: 9px;
    left: -1;
    width: 1px;
    height: 20px;
    border-right: 1px solid #4089c1;
    box-shadow: 1px 0 0 rgba(255,255,255,0.1);
    position: absolute;
    right: 0;
    background-color: #ededed;
}

.warn {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* Dashboard Overview */

.company-overview {
   border: 1px solid #b9b5b5;
}

@media only screen and (max-width: 1400px) {
   /* Force table to not be like tables anymore */
   .company-overview table, .company-overview thead, .company-overview tbody, .company-overview th, .company-overview td, .company-overview tr {
      display: block;
   }
   /* Hide table headers (but not display: none;, for accessibility) */
   .company-overview thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
   }
   .company-overview tr {
      border: 1px solid #ccc;
   }
   .company-overview td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
   }
   .company-overview td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
   }
   .company-overview td {
      padding-left: 60% !important;
   }
   /*
      Label the data
      */
   .company-overview td:before {
      content: attr(data-title);
   }
   .tablecontainer .tableheader .elem {
      padding: 10px;
      width: 100%;
      text-align: left;
   }
   .tablecontainer .tableheader .type {
      margin: 0;
   }
}