@media print {
      body, html, .body-container {
          width: 100%;
      }
}

.business-interruption {
    margin-top: 20px;
    font-size: 100px;
    text-align: center;
}

/************* Report Results *************/

.title-header {
    padding: 3px 0 5px;
    background: #4995cf !important;
    color: #fff;
    display: block;
    clear: both;
    text-align: center;
    font-size: 17px;
    position: sticky;
    z-index: 1000;
}

.title-header-claim {
    padding: 3px 0 5px;
    background: #296198 !important;
    color: #fff;
    display: block;
    clear: both;
    text-align: center;
    font-size: 17px;
    position: sticky;
    z-index: 1000;
}
.business-interruption-panel{
    border: 1px solid #b9b5b5;
}
.business-interruption-num {
    background-color: #296198;
    color: #ffffff;
    padding: 4px 9px 4px 9px;
    border-radius: 5px;
    font-weight: bold;
}
.body-container {
  margin-left: 0px;
  padding: 20px 5px 5px 5px;
}

.body-content {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.main-report {
   padding: 10px 10px 10px 10px;
   margin-bottom: 10px;
   border: 1px solid #cccccc;
   background-color: #eeeeee;
   float: left;
   width: 100%;
}

.seperate-report {
   padding: 10px 10px 10px 10px;
   margin-bottom: 10px;
   border: 1px solid #296198;
   background-color: #eeeeee;
   float: left;
   width: 100%;
}

.claim-amounts {
  border: 1px solid #b9b5b5;
  overflow: auto;
}


.report-container {
  border: 1px solid #b9b5b5;
}

.highcharts-container{
  max-width: 99%  
}

.color1 {
  background-color: #446d8d !important;
}

.color2 {
  background-color: #67a8d7 !important;
}

.color3 {
  background-color: #366a69 !important;
}

.color4 {
  background-color: #62bdbb !important;
}

.color5 {
  background-color: #d2623f !important;
}

.color6 {
  background-color: #ea8e4b !important;
}

/*********Tables********/

@media only screen and (max-width: 1600px) {
   /* Force table to not be like tables anymore */
   .report-results-tables table, .report-results-tables thead, .report-results-tables tbody, .report-results-tables th, .report-results-tables td, .report-results-tables tr {
      display: block;
   }
   /* Hide table headers (but not display: none;, for accessibility) */
   .report-results-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
   }
   .report-results-tables tr {
      border: 1px solid #ccc;
   }
   .report-results-tables td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
   }
   .report-results-tables td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
   }
   .report-results-tables td {
      padding-left: 60% !important;
   }
   /*
      Label the data
      */
   .report-results-tables td:before {
      content: attr(data-title);
   }
   .tablecontainer .tableheader .elem {
      padding: 10px;
      width: 100%;
      text-align: left;
   }
   .tablecontainer .tableheader .type {
      margin: 0;
   }
   .same-claims td:first-child, .same-claims-parent td:first-child {
      text-indent: 0px !important;
   }
}


/*********Multiple Reports Results********/

.chart-block {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 35px 0px 0px 0px;
    background-color: #ffffff;
}

.chart-block.chart-block2 {
    border: none;
    margin: 0 0 15px 0;
}

.progress-chart .chart-text {
    display: table-cell;
    background-color: #efefef;
    width: 40%;
    padding: 10px 70px 10px 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #ccc;
    border-right: 0;
    position: relative;
}

.progress-chart .chart-bar {
    display: table-cell;
    width: 60%;
    vertical-align: middle;
    padding: 0;
    position: relative;
}
.progress-chart .chart-bar:after {
    content: "";
    height: 100%;
    top: 0;
    left: 0;
}

.bg1 {
    background-color: #7db3c2;
    border-right: 1px solid #629cae;
}

.bg2 {
    background-color: #81a7d2;
    border-right: 1px solid #638cbe;
}

.bg3 {
    background-color: #d6c398;
    border-right: 1px solid #a99b7b;
}

.bg4 {
    background-color: #566370;
    border-right: 1px solid #49535d;
}

.bg5 {
    background-color: #e28185;
    border-right: 1px solid #b6676a;
}


span.value {
    display: block;
    padding: 10px;
    color: #fff;
    z-index: 2;
    min-width: 70px;
    max-width: 70px;
    text-align: center;
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
}

span.value:before {
   content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: inherit;
    top: -1px;
    left: 0;
}

span.value:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: inherit;
    bottom: -1px;
    left: 0;
}

.chart-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-block .progress-chart {
    margin-bottom: 15px;
    display: table;
    width: 100%;
}

.chart-block .progress-chart:last-child {
    margin-bottom: 0;
}

.chart-bar-progress {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    max-width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}

.btn-version{
    border: 0;
    color: #fff;
    background: #296198;
    padding: 2px 10px;
    border-radius: 3px;
}

.progress-style1 .chart-bar-progress { background-color: #7db3c2; }
.progress-style2 .chart-bar-progress { background-color: #81a7d2; }
.progress-style3 .chart-bar-progress { background-color: #d6c398; }
.progress-style4 .chart-bar-progress { background-color: #566370; }
.progress-style5 .chart-bar-progress { background-color: #e28185; }

#death-denial-multiple-reports .highcharts-series > rect:nth-child(1),
#death-denial-multiple-reports .highcharts-series > rect:nth-child(2){
  fill: #7db3c2;
}
#death-denial-multiple-reports .highcharts-series > rect:nth-child(3),
#death-denial-multiple-reports .highcharts-series > rect:nth-child(4){
    fill: #81a7d2;
}
#death-denial-multiple-reports .highcharts-series > rect:nth-child(5),
#death-denial-multiple-reports .highcharts-series > rect:nth-child(6){
    fill: #d6c398;
}
#death-denial-multiple-reports .highcharts-series > rect:nth-child(7),
#death-denial-multiple-reports .highcharts-series > rect:nth-child(8){
    fill: #566370;
}
#death-denial-multiple-reports .highcharts-series > rect:nth-child(9),
#death-denial-multiple-reports .highcharts-series > rect:nth-child(10){
    fill: #566370;
}

/*********Background for bar graph********/
.policy-year-claims, .length-of-time, .bodily-injured, .length-of-time,
#policy-year-claims .highcharts-series > rect,
#policy-year-claims-gl .highcharts-series > rect,
#length-of-time .highcharts-series > rect, 
#bodily-injured .highcharts-series > rect {
  background-color: #7db3c2 !important;
  fill: #7db3c2;
}

.claim-status, .claimant-names, .age-range,
#claim-status .highcharts-series > rect,
#claim-status-gl .highcharts-series > rect,
#age-range .highcharts-series > rect,
#claimant-names .highcharts-series > rect, .claimant-bg {
  background-color: #81a7d2 !important;
  fill: #81a7d2;
}

.day-of-week, .date-of-hire,
#day-of-week2 .highcharts-series > rect,
#date-of-hire .highcharts-series > rect {
    background-color: #d6c398 !important;
    fill: #d6c398;
}

/*********Claims by Location********/

div#map_outer {
    position: absolute;
    top: 45px;
}

/*********Body Part Affected********/

.tablecontainer .cf.table-claim-result td {
    padding: 10px 30px 10px 10px !important;
    width: 33.334%;
    position: relative;
    vertical-align: top;
}

.table-claim-result strong.pull-right {
    float: none !important;
    position: absolute;
    right: 9px;
    top: 10px;
}

.right-side-table {
    padding-left: 34%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #d5d5d5;;
}

.right-side-table.second {
    background-color: #e4e4e4;
}

.right-side-table.third {
    background-color: #dbdbdb;
    padding-bottom: 20px;
    border-bottom: 0 !important;
}

.table-striped.table-claim-result tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped.table-claim-result tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

.top-table-claim-result {
   position: relative;
}

.top-table-claim-result:before{
    position: absolute;
    content: "";
    width: 34%;
    height: 100%;
    background: transparent url("../../img/table-man.png") no-repeat  center;
}

.plus-sign, .plus-sign:hover {
    cursor: pointer;
    color: #40c13f;
    font-size: 14px;
    margin-right: 5px;
}

.minus-sign, .minus-sign:hover {
    cursor: pointer;
    color: #e34647;
    font-size: 14px;
    margin-right: 5px;
}
.bottom-table-claim-result table.cf{
    width: 34%;
}
.bottom-table-claim-result{
    background: #dbdbdb;
    margin-top: -30px;
    min-height: 100px;
}
.bottom-table-claim-result .table-striped.table-claim-result tr:nth-of-type(even) {
    background-color: transparent;
}
@media (min-width: 1200px) {
    .bottom-graph-container{
        position: relative;
    }
    .bottom-graph-container #bottom-graph{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

/*********Data Tables Styles - Body Parts Affected********/

.inactive-body {
  color: #cbcbcb;
}