/************* Add New Claim Content *************/
.panel-primary {
    border: 1px solid #ccc;
    border-radius: 0;
    margin-top: 20px;
}

.title-header {
    padding: 3px 0 5px;
    background: #4995cf;
    color: #fff;
    display: block;
    clear: both;
    text-align: center;
    font-size: 17px;
}

.claim-header {
    color: #4995cf;
}

.form-control, input[type="file"] {
    margin-bottom: 10px;
}