.body-container {
    margin-left: 0;
}
.content{
    margin-left: 30px;
}
.font-size28{
    font-size: 28px !important;
}
.add-claim-content{
    margin-left: 0;
    height: 254px;
    display: table;
    width: auto;
    margin: 35px auto 40px;
}
.add-claim-content a{
    display: table-cell;
    vertical-align: middle;
    width: 218px;
}
.choose-destination {
    padding: 25px 0;
    clear: both;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 992px) {
    .logos_table a.dropdown-toggle img{
        width: 100%;
    }
}