.table-condensed tr td:nth-child(2){
    color: #337ab7;
}
.text-indent5{
    text-indent: 5px;
}
.producer-select{
    padding-top: 8px;
    padding-right: 10px;
}
.producer-select .dropdown-toggle{
    background: transparent;
    border: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.grey-bg{background-color: #fcfcfc !important;}
.margin-bottom15{
    margin-bottom: 15px;
}
.cams-tables{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.month-dropdown{
    padding-bottom: 10px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
span.vertical-line {
    margin: 0 10px 0 8px;
    border-right: 1px solid #3f88bf;
    box-shadow: 1px 0px #61a1d2;
}
.highchar .panel-heading {
   margin-bottom: 12px;
   text-transform: uppercase;
}
.highcharts-button-symbol, .highcharts-credits, .highcharts-button-box {
    display: none;
}
text.highcharts-axis-title {
    display: none;
}
#highchar-charts{
    width: 70%;
    float: left;
    margin: 0 auto;
}
#highchar-pies{
    width: 30%;
    float: right;
    margin: 0 auto;
}
@media (max-width: 1400px) {
	.pd-tableheader .head-drop{
		float: none !important;
	}
	#highchar-charts{
		width: 60%;
	}
	#highchar-pies{
		width: 40%;
	}
}
@media only screen and (max-width: 1279px) {
    .cams-tables thead tr {
        position: relative;
    }
    .cams-tables table {
        display: table;
    }
    .cams-tables thead {
        display: table-header-group;
    }
    .cams-tables tbody {
        display: table-row-group;
    }
    .cams-tables tr {
        display: table-row;
    }
    .cams-tables th, .cams-tables td {
        display: table-cell;
    }
    .cams-tables th, .cams-tables th.text-left {
        text-align: left;
    }
    .cams-tables th, .cams-tables td.text-right {
        text-align: center;
    }
    .cams-tables td{
        padding-left: 5px !important;
    }
    .cams-tables td:before {
        content: "";
    }
    .cams-tables thead tr {
        position: static;
    }
	#highchar-charts{
		width: 65%;
	}
	#highchar-pies{
		width: 35%;
	}
}
@media (max-width: 640px) {
	#highchar-charts{
		width: 100%;
	}
	#highchar-pies{
		width: 100%;
	}
}